/* 
    Created on : 21-feb-2017, 23:30:28
    Author     : andresfelipegarciaduran
*/
body {
    background-color: white;
}

#box-float {
    margin-top: 30px;
}

#box-float > div:first-child {        
    padding-bottom: 10px;    
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    fill: #525151;
}

.iconmelon:after,
.im:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
    Custumized primefaces (JSF)
*/

.ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
    height: 16px;
    width: 16px;
}
.ui-widget-content .ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
}
.ui-widget-header .ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
}
.ui-state-default .ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
}
.ui-state-active .ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
}
.ui-state-highlight .ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("/live/now/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");
}
.ui-widget-overlay {
    background: #2d5972 url("/live/now/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png?ln=primefaces-aristo") repeat-x scroll 50% 50%;
    opacity: 0.3;
}
.ui-widget-shadow {
    background: #4f4f4f url("/live/now/javax.faces.resource/images/ui-bg_flat_0_4f4f4f_40x100.png?ln=primefaces-aristo") repeat-x scroll 50% 50%;
    border-radius: 8px;
    margin: -8px 0 0 -8px;
    opacity: 0.3;
    padding: 8px;
}

/* --- GLOBE ---- */
.globe{
    width: 45px !important;
    height: 65px !important;
}

.container-globe img{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: bold !important;
}

/* TEXT - GLOBES*/
.text-score-unit{
    display: block;
    padding-top: 65px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.selected-list{
    border-radius: 0 !important;
    padding-top: 7px !important;
}

.text-bold{
    color: #000000;
    font-weight: bold;
}

.table > thead > tr > td.ce,
.table > tbody > tr > td.ce,
.table > tfoot > tr > td.ce,
.table > thead > tr > th.ce,
.table > tbody > tr > th.ce,
.table > tfoot > tr > th.ce,
.table > thead > tr.ce > td,
.table > tbody > tr.ce > td,
.table > tfoot > tr.ce > td,
.table > thead > tr.ce > th,
.table > tbody > tr.ce > th,
.table > tfoot > tr.ce > th {
    background-color: #8B1BFF;
}
.table-hover > tbody > tr > td.ce:hover,
.table-hover > tbody > tr > th.ce:hover,
.table-hover > tbody > tr.ce:hover > td,
.table-hover > tbody > tr:hover > .ce,
.table-hover > tbody > tr.ce:hover > th {
    background-color: #AA85D1;
}

/**/
.ui-datatable.bordersolid thead th,
.ui-datatable.bordersolid tbody,
.ui-datatable.bordersolid tbody tr,
.ui-datatable.bordersolid tbody td {
    border: 1.5px solid black !important;
    border-collapse: collapse !important;    
}
